/* Create best border style for lists */
ul {
	list-style-type: none;
	padding: 10px 10px 5px 10px;
	margin-top: 1rem;
}
ul > li:first-child {
	border-top-left-radius: 10px;
	border-color: #2ec4b6;
	border-width: 3px 3px 3px 3px;
	border-style: solid;
}

.strike {
	text-decoration-line: line-through;
}
